.author__info {
  max-width: 600px;

  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  box-sizing: border-box;

  margin: 51px 0 0 56px;

  border: 1px solid red;
  text-align: start;
}

@media only screen and (min-width: 768px) and (max-width : 1024px) {
  .author__info {
    margin: 0 0 0 16px;
  }
}

@media only screen and (max-width : 767px) {
  .author__info {
    /* max-width: 336px; */
    margin: 24px 0 16px;
  }
}

@media only screen and  (max-width : 320px) {
  .author__info {
    max-width: 288px;

  }
}
