@import url(./__about/desc-news__about.css);
@import url(./__title/desc-news__title.css);
@import url(./__key-words/desc-news__key-words.css);
@import url(./__container/desc-news__container.css);


.desc-news {
width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

