.news__title {
  font-family: robotoslab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;

  margin: 12px 0 14px;
  padding: 0;

  color: #1A1B22;

  cursor: pointer;

  overflow: hidden;
  text-overflow: ellipsis;

  max-height: 90px;
}

.news__title:hover {

  text-decoration: underline;
}
@media only screen and (min-width: 768px) and (max-width : 1024px) {
  .news__title {
    margin: 10px 0;
    font-size: 22px;
    line-height: 24px;
    max-height: 72px;

    }
}

@media only screen and (max-width : 767px) {
  .news__title {
    margin: 10px 0;
    font-size: 22px;
    line-height: 24px;
    max-height: 72px;

  }
}