@import url(./__container/overlay__container.css);
@import url(./_is-opened/overlay_is-opened.css);
@import url(./__button/overlay__button.css);
@import url(./__button/_reload/overlay__button_reload.css);
@import url(./__button/_return/overlay__button_return.css);

.overlay {
    
   
    width: 100vw;
    height: 100vmax;
    background-color: yellow;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* //z-index: 1;  */
    display: none;
}

@media only screen and (min-width : 767px) {
    .overlay {
        display: none;
    }
}