.author__photo {
 
  min-width: 464px;
  min-height: 464px;
  
  border-radius: 50%;
  background-size: cover;
  background-position: 75% 25%;
  background-image: url('../../../images/green-developer.jpg');
  transition: ease-in-out 1s;
  border: 1px solid red;
}

.author__photo:hover {
  transition: ease-in-out 1s;
  transform: rotate(180deg);
}

@media only screen and (min-width: 768px) and (max-width : 1024px) {
  .author__photo {
    min-width: 232px;
    min-height: 232px;
  
   
  }
}

@media only screen and  (max-width : 767px) {
  .author__photo {
    min-width: 272px;
    min-height: 272px;
  }
}

