.desc-news__container {
  padding: 40px 0 56px;
}

@media only screen and (min-width: 768px) and (max-width : 1024px) {
  .desc-news__container {
    padding: 40px 0 56px;
   
  }
}

@media only screen and  (max-width : 767px) {
  .desc-news__container {
    padding: 18px 16px 32px; 
  }
}
