.popup__close {
  width: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media only screen and (max-width : 767px) {
  .popup__close {
    right: 0;
    top: -56px;
  }
}