.news__source {
  font-family: robotoslab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  
  text-transform: uppercase;

  color: #B6BCBF;
}