@import url(./_auth/header__link_auth.css);
@import url(./_logo/header__link_logo.css);
@import url(./_main/header__link_main.css);
@import url(./_saved-news/header__link_saved-news.css);
@import url(./_user/header__link_user.css);
@import url(./_user-login/header__link_user-login.css);
@import url(./_border-login/header__link_border-login.css);
@import url(./_border-unath/header__link_border-unath.css);
@import url(./_login/header__link_login.css);
@import url(./_selected-unath/header__link_selected-unath.css);
@import url(./_selected-login/header__link_selected-login.css);


.header__link {
  text-decoration: none;
  color: #fff;
  line-height: 24px;
  margin-left: 32px;
  font-family: roboto-regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.header__link:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 768px) and (max-width : 1440px) {
  .header__link {
    margin-left: 16px;
  }
  .header__link:first-child {
    margin-left: 0;
  }
}
@media  all and (max-width : 767px) {
  .header__link:not(:first-child){
      display: none;
  }
}