@import url(./__info/preloder__info.css);
@import url(./_none/preloader_none.css);

.preloader {
  
  background: #F5F6F7;
  
  margin: 0;
  padding: 116px 0;

  position: relative; 

  box-sizing: border-box;

}


@media only screen and (min-width: 768px) and (max-width : 1023px) {
  .preloader {
    padding: 38px 0;
  }
}

@media only screen and (max-width : 767px) {
  .preloader {
    padding: 30px 0;
  }
}