.header__burger-unath::after {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: -2px;
  vertical-align: middle;
  background: url(../../../../images/menu.png) no-repeat;
}
