div .news__tag_del {
  padding: 0;
  cursor: pointer;
}

.news__tag_del::after {
  content: "";
  display: inline-block;

  height: 20px;
  width: 40px;
  box-sizing: border-box;

  vertical-align: middle;

  background-image: url(../../../../images/del-norm.png);
  background-position: center;
  background-size: cover;
  
}
.news__tag_del:active {
  transform: scale(0.8);
}
.news__tag_del:hover::after {
  background-image: url(../../../../images/del-hover.png);
}
