@import url(./_align-left/popup__content_align-left.css);

.popup__content {
  width: 430px;
  box-sizing: border-box;

  background-color: #fff;
  border-radius: 16px;

  position: relative;

  margin:0 16px;
  padding: 34px 36px;
}