.news__cards {
  width: 100%;

  box-sizing: border-box;

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(228px, 1fr)); */
    /* grid-template-rows: repeat(2, auto); */
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3 - 32px), 1fr));  
  /* grid-template-columns: repeat(3, 1fr); */
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  justify-items: stretch;
  align-items: stretch;

  margin: 64px 0;
  padding: 0;



  border: 1px solid green;
}