.desc-news__title {
  font-family: robotoslab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;

  color: #1A1B22;

  padding: 0;
  margin: 28px 0 30px;
  max-width: 530px;

}
@media only screen and (min-width: 321px) and (max-width : 767) {
  .desc-news__title {
    max-width: 336px;

  }
}
@media only screen and  (max-width : 320px) {
  .desc-news__title {
    font-size: 30px;
    line-height: 34px;
    margin: 16px 0 32px;
    max-width: 288px;

  }
}