.nav__link_border-dark:hover {
  padding-bottom: 42px;
  border-bottom: 3px solid #1A1B22;
}

@media only screen and (min-width: 768px) and (max-width : 1024px) {
  .nav__link_border-dark:hover {
    padding-bottom: 22px;
  }
}
@media only screen and (max-width : 767px) {
  .nav__link_border-dark:hover {
    padding:0;
    border: none;
  }
}