.news__card {
  box-sizing: border-box;

  border-radius: 16px;
  background-color: #fff;

  margin: 0;
  padding: 0;

  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
}

.news__card:nth-child(odd):hover {
  transform: rotate(-2deg);
}

.news__card:nth-child(even):hover {
  transform: rotate(2deg);
}
