.news__text {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  
  margin:0 0 18px;
  padding: 0;

  color: #1A1B22;

  overflow: hidden; 
  text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) and (max-width : 1024px) {
  .news__text {
    margin: 0 0 12px;
  }
}

@media only screen and (max-width : 767px) {
  .news__text {
    margin: 0 0 12px;
  }
}