@import url(./_bg-main/header_bg-main.css);
@import url(./_bg-saved/header_bg-saved.css);

.header {
  /* min-width: 100%; */
  position: relative;
  width: 100%;
  box-sizing: border-box;

  padding: 0;
  /* margin: 0 auto; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  
  font-family: roboto, sans-serif;
}

/* @media only screen and (min-width: 768px) and (max-width : 1024px) {
  .header__link {
    margin-left: 16px;
  }
  .header__link:first-child {
    margin-left: 0;
  }
}
@media  all and (max-width : 767px) {
  .header__link:not(:first-child){
      display: none;
  }
} */